@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

li,a,button {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 18px;
}

img {
    max-width:100%;
    height: auto;
}

header {
    padding: 20px 10%;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.logo {
    cursor: pointer;
}
.nav_links {
    list-style: none;
    display: flex;
    justify-content: center;
}
.nav_links li {
    display: inline-block;
    padding: 20px 10px;
}
.nav_links li>a {
    transition: all 0.3s ease 0s;
    color: #000;
    text-decoration: none;
}
.nav_links li>a:hover {
    color: #8f7247;
}
.button {
    padding: 10px 39px;
    background-color: #8f7247;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
}

.text-button {
    color: #fff;
}
.button:hover {
    background: #000;
    transition: all 0.3s ease 0s;
}
/**home page style */
#home-image {
    position: relative;
    background: url('./../img/home.webp') no-repeat center center ;
    width: 100%;
    height: 85vh;
    background-size: cover;
}
.cover-black {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(19, 19, 19, 0.58);
    
}
.introd-text {
    color: #fff;
    font-family: 'Roboto Condensed';
    position: absolute;
    top: 30%;
    left: 8%;
    transform: translateY(-30%);

}
.introd-text h3 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 7.5%;
    color: #ffffff;
    margin-bottom: 20px;
    
}
.introd-text h1 {
    position: relative;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 20px;
    color: transparent;
    -webkit-text-stroke: 3px #8f7247;
}
.introd-text h1::before {
    content: attr(data-fill-text);
    position: absolute;
    width: 0;
    height: 100%;
    color: #8f7247;
    -webkit-text-stroke: 0px transparent;
    overflow: hidden;
    transition: width 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.introd-text h1:hover::before {
    width: 100%;
}
.introd-text p {
    font-size: 18px;
    font-family: 'Roboto';
    margin-bottom: 20px;
}
/**about section style */
.about_section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.about_section .card img {
    max-width: 100%;
    height: auto;
    padding-top: 50px;   
}
.about-text {
    width: 550px;
    max-width: 100%;
    padding: 0 10px;

}
.about-text h3 {
    font-size: 46px;
    color: #8f7247;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-family: 'Roboto Condensed';
}
.about-text h5 {
    font-size: 26px;
    margin-bottom: 20px;
    text-transform: capitalize;
    letter-spacing: 2px;
}
.about-text p {
    font-size: 16px;
    margin-bottom: 40px;
    line-height: 28px;
    letter-spacing: 2px;
}
.card {
   width: 1280px;
   max-width: 95%;
   margin: auto;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   align-items: center;
}
/**services section( what we do) */
.service_section {
    background: url('./../img/shape-service.png') no-repeat center;
    font-family: 'Roboto Condensed';
}
.services p {
    font-family: 'Roboto';
    font-size: 23px;
}
.service-card p {
    width: 200px;
    height: 200px;
}
.service-card .cleaning {
    width: 100px;
    
}
.service-card .mens {
    width: 200px;
    
}
.service-card .blow {
    width: 298px;
    
}
.services h3 {
    font-family: 'Roboto Condensed';
    font-size: 36px;
    font-weight: 400;
    padding-bottom: 8px;
   
}
.service_section h2 {
    text-align: center;
    padding: 20px;
    font-size: 49px;
    font-weight: bold;
    font-family: 'Roboto Condensed';
    color: #8f7247;
}

.services-row-one {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.services-row-two {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/**covid section start here */
.covid-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.covid-card {
    width: 1059px;
    max-width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.covid-card img {
    max-width: 100%;
    height: auto;
}
.covid-text {
    width: 555px;
    display: flex;
    flex-wrap: wrap
}
.intro-covid {
    font-family: 'Roboto Condensed';
    font-size: 36px;
    font-weight: 800;
}
.covid-paragraph {
    font-family: 'Roboto Condensed';
    font-size: 36px;
    margin-bottom: 20px;
}
.icons-covid {
    align-items:center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 11px;
    min-width: 396px;  
}
.call-appointment {
    font-family: 'Roboto Condensed';
    font-size: 26px;
    font-weight: 800;
}
.number {
    color: #8f7247;
    font-family: 'Roboto';
    font-size: 50px;
    font-weight: 700;
   margin-top: 20px;  
}

/**testimonial section */
.testimonials-section {
    background: url('./../img/testimonial.webp') no-repeat center center fixed;
    position: relative;
    width: 100%;   
}
.testimonials-heading {
    text-align: center;
    padding: 20px;
    font-size: 49px;
    font-weight: bold;
    font-family: 'Roboto Condensed';
    color: #8f7247;
}
.wrapper-testimonials {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.wrapper-testimonials .container-testimonials {
    background: #fff;
    margin: 5px;
    margin-bottom: 60px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color: #8e8b8b;  
    position: relative;
}
.profile-testimonials h2 {
    color: #8f7247;
    font-size: 26px;
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
}
.container-testimonials p {
    text-align: center;
}
.imgbox {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
}
.imgbox img {
    width: 100px;
    height: 100px;
    padding: 30px;
}
/**form for contact */
.newsletter {
    background: #131313;
}
.news-form {
    max-width: 1444px;
    
    padding: 30px;
}
.newsletter-heading h2 {
    color: #8f7247;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
}
.newsletter-heading p {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 25px;
}
.newsletter .news-form .form .input-field{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}
.newsletter .news-form .form .input-field label {
    width: 100px;
    color: #757575;
    margin-right: 20px;
    font-size: 14px;
    margin-bottom: 20px;
}
.form {
    margin: 50px;
}
.newsletter .news-form .form .input-field input {
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 22px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;  
}
.input-spec {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    margin-left: 10%;
    justify-content: space-between;
    margin-right: 10%;
}
.input-spec input {
    width: 46%;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 22px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}
.newsletter .news-form .form .input-field .btn {
    width: 100%;
    padding: 15px 20px;

    font-size: 25px;
    border: 0px;
    background-color: #8f7247;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}
.newsletter .news-form .form .input-field .btn:hover {
    background: #dcdcdc;
}
/**gallery section */
.gallery-works-heading {
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    font-family: 'Roboto Condensed';
    color: #8f7247;
    padding: 30px;
}
.gallery-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 14px;
}
.gallery-column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0 6px;
}
.gallery-column img {
    margin-top: 20px;
    vertical-align: middle;
    width:100%;
}
/**maps contact part */
.maps-contact {
    position: relative;
    min-height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('./../img/green.webp') no-repeat center;
    background-size: cover;
}
.wrapper-maps {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}


.info {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.box-info {
    display: flex;
    margin-left: 20px;
    flex-direction: column;

}
.box-info h2 {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 34px;
    color: #8f7247;
    margin-bottom: 20px;
}
.box-info p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
}
.social-links {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin-top: 11px;
    min-width: 396px;
}
/**partners section */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px *3));
    }
}
.partners {
    padding: 20px;
    height: auto;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
}
.partners h2 {
    font-family: 'Roboto Condensed';
    color: #8f7247;
    font-size: 40px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    text-align: center;
}
.container-slider {
    animation: scroll 100s linear infinite;
    display: flex;
    align-items: baseline;
    width: calc(250*3);
}
.slide {
    height: auto;
    width: 250px;
}
/**book appointment section style */
.booking {
    height: 100vh;
    background: url('./../img/book-bg.webp') center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-bottom: 20px;
}
.book-card {
    display: grid;
    grid-template-columns: 420px 420px ;
}
.book-image {
    background: url('./../img/book-card.webp') no-repeat center;
    background-size: cover
}
.booking h2 {
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 40px;
    margin-bottom: 20px;
    color: #8f7247;
}
.book-content {
    background: #fff;
    height: 330px;
}
.book-content h3 {
    color: #000;
    text-align: center;
    font-family: 'Roboto';
    padding: 25px 0 10px 0;
    font-size: 26px;
    font-weight: 500;
}
.form-content-row {
    display: flex;
    width: 90%;
    margin: auto;
}
.form-content-row input,select {
    display: block;
    width: 100%;
    margin: 15px 12px;
    padding: 12px;
    font-size: 16px;
    font-family: 'Roboto';
    outline: none;
    border: none;
    border-bottom: 1px solid #eee;
}
.input-button {
    padding: 10px 39px;
    background-color: #8f7247;
    border: none;
    color: #fff;
}
.input-button:hover {
    background: #000;
    transition: all 0.3s ease 0s;
}
/**footer style */
footer {
    font-family: 'Roboto';
    color: #fff;
    background: #131313;
    padding: 20px;
    text-align: center;
}
/**media queries */
@media  (max-width:675px) {
    .nav-container {
        flex-direction: column;
    }
    header {
        text-align: center;
    }
}
@media  (max-width:675px) {
    .nav_links {
        flex-direction: column;
    }
    
}
@media  (max-width:675px) {
    .introd-text h1 {
        font-size: 30px;
    }
    .introd-text p {
        text-align: left;
    }
}
@media  (max-width:1180px) {
    .about {
        width: 100%;
        height: auto;
        padding: 70px 0px;
    }
}
@media  (max-width:650px) {
    .about_section .card img {
        margin-bottom: 30px;
    }   
    .about-text h3 {
        font-size: 60px;
        margin-bottom: 25px;
    }
}
@media (max-width:1166px) {
    .service_section {
        margin-top: 50px;
    }
}
@media (max-width:930px) {
    .services {
        text-align: center;
    }
    .services-row-one {
        flex-direction: column;   
    }
    .services-row-two {
        flex-direction: column;   
    }
}
@media  (max-width:675px) {
    .newsletter .news-form .form .input-field {
        flex-direction: column;
        align-items: flex-start;
    }
    .newsletter .news-form .form .input-field label {
        margin-bottom: 5px;
    }
}
@media  (max-width:675px) {
    .gallery-works-heading h2 {
        font-size: x-large;
    }
}
@media  (max-width:800px) {
    .gallery-column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}
@media  (max-width:600px) {
    .gallery-column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
@media (max-width:991px) {
    .wrapper-maps {
        flex-direction: column;
    }
    .info {
        margin-bottom: 40px;
    }
    .info {
        width: 100%;
    }
}
@media (max-width:992px) {
    .book-card {
        grid-template-columns: 100%;
    }
    .book-image {
        height: 400px;
    }
}