@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

li,a,button {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 18px;
}

img {
    max-width:100%;
    height: auto;
}

header {
    padding: 20px 10%;
}
.nav-container{
    display: flex;
    justify-content: space-between;
  }
@media  (max-width:675px) {
    .nav-container {
        flex-direction: column;
    }
    header {
        text-align: center;
    }

}

.logo {
    cursor: pointer;
}

.nav_links {
    list-style: none;
    display: flex;
    justify-content: center
    
}

.nav_links li {
    display: inline-block;
    padding: 20px 10px;
}

.nav_links li>a {
    transition: all 0.3s ease 0s;
    color: #000;
    text-decoration: none;

}

.nav_links li>a:hover {
    color: #F2C05D;
}
@media  (max-width:675px) {
    .nav_links {
        flex-direction: column;
    }

}
button {
    padding: 10px 39px;
    background-color: #F2C05D;
    border: none;
    border-radius: 50px;
}

.text-button {
    color: #fff;
}

button:hover {
    background: #000;
    transition: all 0.3s ease 0s;
}

/**home page style */
#home-image {
    position: relative;
    background: url(/img/home.jpg) no-repeat center center ;
    width: 100%;
    height: 85vh;
    background-size: cover;
}
.cover-black {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(19, 19, 19, 0.58);
    
}

.introd-text {
    color: #fff;
    font-family: 'Roboto Condensed';
    position: absolute;
    top: 30%;
    left: 8%;
    transform: translateY(-30%);

}
.introd-text h3 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 7.5%;
    color: #F2C05D;
    margin-bottom: 20px;
    
}
.introd-text h1 {
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 20px;
}
@media  (max-width:675px) {
    .introd-text h1 {
        font-size: 30px;
    }
    .introd-text p {
        text-align: left;
    }
}

.introd-text p {
    font-size: 18px;
    font-family: 'Roboto';
    margin-bottom: 20px;
}

/**about section style */
.about_section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.about_section .card img {
    height: auto;
    width: 600px;
    max-width: 100%;
    padding-top: 50px;
    
}
@media  (max-width:1180px) {
    .about {
        width: 100%;
        height: auto;
        padding: 70px 0px;
    }
}
@media  (max-width:650px) {
    .about_section .card img {
        margin-bottom: 30px;
    }
   
    .about-text h3 {
        font-size: 60px;
        margin-bottom: 25px;
    }
}
.about-text {
    width: 550px;
    max-width: 100%;
    padding: 0 10px;

}
.about-text h3 {
    font-size: 46px;
    color: #F2C05D;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-family: 'Roboto Condensed';
}
.about-text h5 {
    font-size: 26px;
    margin-bottom: 20px;
    text-transform: capitalize;
    letter-spacing: 2px;
}
.about-text p {
    font-size: 16px;
    margin-bottom: 40px;
    line-height: 28px;
    letter-spacing: 2px;
}

.card {
   width: 1280px;
   max-width: 95%;
   margin: auto;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   align-items: center;
}

/**services section( what we do) */
.service_section {
    background: url(/img/shape-service.png) no-repeat center;
    font-family: 'Roboto Condensed';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 400px;
    
}
.services p {
    font-family: 'Roboto';
    font-size: 23px;
}
.services h3 {
    font-family: 'Roboto Condensed';
    font-size: 36px;
    font-weight: 400;
}
.service_section h2 {
    text-align: center;
    padding: 20px;
    font-size: 49px;
    font-weight: bold;
    font-family: 'Roboto Condensed';
    color: #F2C05D;
}
.services {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1200px;
    margin-top: 30px;
    margin-left: 100px;
    
}
.service-card {
    min-height: 220px;
    width: 320px;
   
}
@media (max-width:1166px) {
    .service_section {
        margin-top: 50px;
    }
}
@media (max-width:400px) {
    .service_section {
        margin-top: -10px;
    }
}
/**covid section start here */
.covid-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.covid-card {
    width: 1280px;
    max-width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.covid-card img {
    max-width: 100%;
    height: auto;
}
@media  (max-width:675px) {
    .covid-card img {
        margin-right: 30px;
    }
}
.covid-text {
    width: 555px;
    display: flex;
    flex-wrap: wrap
}
.intro-covid {
    font-family: 'Roboto Condensed';
    font-size: 36px;
    font-weight: 800;
}
.intro-suit-text {
    font-family: 'Roboto Condensed';
    font-size: 36px;
    font-weight: 400;
}
.second-text {
    font-family: 'Roboto Condensed';
    font-size: 36px;
    font-weight: 400;
}
.third-text {
    font-family: 'Roboto Condensed';
    font-size: 36px;
    font-weight: 400;
}

.icons-covid {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin-top: 11px;
    min-width: 396px;
    
}
.call-appointment {
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 700;
    margin-top: 23px;
    min-height: 29px;
}
.number {
    color: #F2C05D;
    font-family: 'Roboto';
    font-size: 5vw;
    font-weight: 700;
    min-height: 81px;
}

/**testimonial section */
.testimonials-section {
    /*background: url(/img/testimonial.jpeg) no-repeat center center fixed;*/
    position: relative;
    width: 100%;
    min-height: 100vh;
}
.testimonials-heading {
    text-align: center;
    padding: 20px;
    font-size: 49px;
    font-weight: bold;
    font-family: 'Roboto Condensed';
    color: #F2C05D;
}
.wrapper-testimonials {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.wrapper-testimonials .container-testimonials {
    position: relative;
    width: 350px;
    background-color: #F2C05D;
    color: #fff;
    margin: 40px 10px;
    padding: 30px 20px;
    border-radius: 3px;
    transition: 0.3s ease;
}

/**form for contact */
.newsletter {
    background: #131313;
}
.news-form {
    max-width: 1444px;
    width: 100%;
    margin: 20px auto;
    padding: 30px;
}
.newsletter-heading h2 {
    color: #F2C05D;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
}
.newsletter-heading p {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 25px;
}
.newsletter .news-form .form .input-field{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}
.newsletter .news-form .form .input-field label {
    width: 100px;
    color: #757575;
    margin-right: 20px;
    font-size: 14px;
    margin-bottom: 20px;
}
.form {
    margin: 50px;
}
.newsletter .news-form .form .input-field input {
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}
.newsletter .news-form .form .input-field .btn {
    width: 100%;
    padding: 8px 10px;
    font-size: 15px; 
    border: 0px;
    background:  #F2C05D;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}
.newsletter .news-form .form .input-field .btn:hover {
    background: #ffd658;
}
@media  (max-width:675px) {
    .newsletter .news-form .form .input-field {
        flex-direction: column;
        align-items: flex-start;
    }
    .newsletter .news-form .form .input-field label {
        margin-bottom: 5px;
    }
}

/**gallery section */
.gallery-works-heading {
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    font-family: 'Roboto Condensed';
    color: #F2C05D;
    padding: 30px;
}
@media  (max-width:675px) {
    .gallery-works-heading h2 {
        font-size: x-large;
    }
}
.gallery-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 14px;
}
.gallery-column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0 6px;
}
.gallery-column img {
    margin-top: 20px;
    vertical-align: middle;
    width:100%;
}
@media  (max-width:800px) {
    .gallery-column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}
@media  (max-width:600px) {
    .gallery-column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
/**maps contact part */
.maps-contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(/img/green.jpg) no-repeat center;
    background-size: cover;
}
.wrapper-maps {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.info {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.box-info {
    display: flex;
    margin-left: 20px;
    flex-direction: column;

}
.box-info h2 {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 34px;
    color: #F2C05D;
    margin-bottom: 20px;
}
.box-info p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
}
.social-links {
    align-items: flex-start;
    display: flex;
    
    flex-wrap: wrap;
    margin-top: 11px;
    min-width: 396px;
}
@media (max-width:991px) {
    .maps-contact {
        padding: 50px;
    }
    .wrapper-maps {
        flex-direction: column;
    }
    .info {
        margin-bottom: 40px;
    }
    .info {
        width: 100%;
    }
}

/**footer style */
footer {
    font-family: 'Roboto';
    color: #fff;
    background: #131313;
    padding: 20px;
    text-align: center;
}