@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

li,a,button {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 18px;
}

img {
    max-width:100%;
    height: auto;
    
   
}

header {
    padding: 20px 10%;
}
.nav-container{
    display: flex;
    justify-content: space-between;
  }
@media  (max-width:675px) {
    .nav-container {
        flex-direction: column;
    }
    header {
        text-align: center;
    }

}

.logo {
    cursor: pointer;
}

.nav_links {
    list-style: none;
    display: flex;
    justify-content: center
    
}

.nav_links li {
    display: inline-block;
    padding: 20px 10px;
}

.nav_links li>a {
    transition: all 0.3s ease 0s;
    color: #000;
    text-decoration: none;

}

.nav_links li>a:hover {
    color: #F2C05D;
}
@media  (max-width:675px) {
    .nav_links {
        flex-direction: column;
    }

}
button {
    padding: 10px 39px;
    background-color: #F2C05D;
    border: none;
    border-radius: 50px;
}

.text-button {
    color: #fff;
}

button:hover {
    background: #000;
    transition: all 0.3s ease 0s;
}

/**home page style */
#home-image {
    position: relative;
    background: url(/img/home.jpg) no-repeat center center fixed;
    width: 100%;
    height: 85vh;
    background-size: cover;
}
.cover-black {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(19, 19, 19, 0.58);
    
}

.introd-text {
    color: #fff;
    font-family: 'Roboto Condensed';
    margin-top: 100px;
    padding-left: 80px;
    
}
.introd-text h3 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 7.5%;
    color: #F2C05D;
    
}
.introd-text h1 {
    font-size: 52px;
    font-weight: 700;
}
@media  (max-width:675px) {
    .introd-text h1 {
        font-size: 30px;
    }
    .introd-text p {
        text-align: center;
    }
}

.introd-text p {
    font-size: 18px;
    font-family: 'Roboto'
}

/**about section style */
.about_section {
    position: relative;
    width: 100%;
    padding: 50px 50px;
    
}
.about_section img {
    max-width: 100%;
    height: auto;
    
}
@media  (max-width:675px) {
    .introd-text h1 {
        font-size: 30px;
    }
    .about_section img {
        margin-right: 30px;
    }
}
.about-text {
    width: 555px;
}
.about-text h3 {
    font-size: 56px;
    color: #F2C05D;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.card {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

/**services section( what we do) */
.heading-row {
    text-align: center;
    padding: 20px;
}
.heading-row h2 {
    font-size: 49px;
    font-weight: bold;
    font-family: 'Roboto Condensed';
    color: #F2C05D;
}

.services-row {

}